<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="footer__item">
                    <h5>Кухни по стилю</h5>
                    <a class="footer__link" href="#">Современные</a>
                    <a class="footer__link" href="#">Классические</a>
                    <a class="footer__link" href="#">Кухни модерн</a>
                    <a class="footer__link" href="#">Кухни в стиле прованс</a>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer__item">
                    <h5>Кухни по цвету</h5>
                    <a class="footer__link" href="#">Белые</a>
                    <a class="footer__link" href="#">Бежевые</a>
                    <a class="footer__link" href="#">Венге</a>
                    <a class="footer__link" href="#">Черные</a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer__item">
                    <h5>Кухни по коллекции</h5>
                    <a class="footer__link" href="#">Беатрис</a>
                    <a class="footer__link" href="#">Флоренция</a>
                    <a class="footer__link" href="#">Верона</a>
                    <a class="footer__link" href="#">Николь</a>
                    <a class="footer__link" href="#">Амелия</a>
                    <a class="footer__link" href="#">Доминика</a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer__item">
                    <h5>Звоните</h5>
                    <a class="footer__link" href="tel:+74732106602">8 (473) 210-66-02</a>
                    <a class="footer__link" href="tel:+78002009161">8 (800) 200-91-61</a>
                </div>
                <div class="footer__item-second">
                    <h5>Наши адреса</h5>
                    <p>г. Воронеж, ул. Урицкого 70,<br>
                        ТД "Центральный Дом Мебели"<br>
                        3 этаж.</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer__item footer__logo">
                    <img src="/catalog/view/theme/yavid/img/logomin.png" alt="">
                    <div class="footer__icons">
                        <a href="#" class="footer__social-icon"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="footer__social-icon"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="footer__social-icon"><i class="fa fa-vk"></i></a>
                    </div>
                    <a href="#" class="magnetika">
                        Создание<br> и продвижение сайта
                        <img src="/catalog/view/theme/yavid/img/magnetikafooter.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/catalog/view/theme/yavid/js/libs/slick/slick.min.js"></script>
<script src="/catalog/view/theme/yavid/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/catalog/view/theme/yavid/js/libs/fancybox/jquery.fancybox.min.js"></script>
<script src="/catalog/view/theme/yavid/js/common.js"></script>
{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body>
</html>