{{ header }}
<div class="page-wrapper">
  <section class="section1">
    <div class="container">
      <div class="row">
        <div class="col-12 logoyavid">
          <img src="/catalog/view/theme/yavid/img/logoyavid.png" alt="logo">
          <div class="line-main"></div>
          <h1>Современная мебель из массива дуба</h1>
          <div class="section1__buttons">
            <a href="#" class="mnbtn o-white section1__button">
              Расчет кухни
            </a>
            <a href="#" class="mnbtn o-white section1__button">
              Заказать встречу
            </a>
            <a href="#" class="mnbtn o-white section1__button">
              Скачать каталог
            </a>
          </div>
          <div class="caret"><i class="fa fa-caret-down"></i></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section2 section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a href="#" class="section2__title"><h2>О фабрике</h2></a>
          <div class="second-line"></div>
          <article>
            <p>Унитарное производственное предприятие "ЯВИД" – это высокотехнологичное, динамично развивающееся предприятие, производящее <br>
              современную, изысканную и престижную <strong>мебель высшего качества</strong>.</p>
            <p>Постоянное совершенствование технологического процесса, позволяют создавать продукцию нового поколения.</p>
            <p>Фабрика производит мебель для всего жилого пространства в одном стиле и цвете <strong>из ценных пород древесины.</strong></p>
          </article>
          <div class="section2__items">
            <div class="row justify-content-between">
              <div class="col">
                <div class="section2__item">
                  <img src="/catalog/view/theme/yavid/img/section2_icon1.png" alt="" class="section2__item__icon">
                  <p>Более 25 лет<br>на рынке</p>
                </div>
              </div>
              <div class="col">
                <div class="section2__item">
                  <img src="/catalog/view/theme/yavid/img/section2_icon2.png" alt="" class="section2__item__icon">
                  <p>Качественная<br>
                    фурнитура Blum из Австрии</p>
                </div>
              </div>
              <div class="col">
                <div class="section2__item">
                  <img src="/catalog/view/theme/yavid/img/section2_icon3.png" alt="" class="section2__item__icon">
                  <p>Более 25 лет<br>на рынке</p>
                </div>
              </div>
              <div class="col">
                <div class="section2__item">
                  <img src="/catalog/view/theme/yavid/img/section2_icon4.png" alt="" class="section2__item__icon">
                  <p>Более 25 лет<br>на рынке</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section3__item">
            <div class="section3__item-top">
              <img src="/catalog/view/theme/yavid/img/section3_item1.png" alt="">
            </div>
            <div class="section3__item-bottom">
              <span>Классические кухни</span><a href="#" class="mnbtn o-black">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section3__item">
            <div class="section3__item-top">
              <img src="/catalog/view/theme/yavid/img/section3_item2.png" alt="">
            </div>
            <div class="section3__item-bottom">
              <span>Современные кухни</span><a href="#" class="mnbtn o-black">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 section4__left">
          <h2>Онлайн-конфигуратор</h2>
          <div class="second-line"></div>
          <p>Используйте наш конфигуратор для предварительного расчёта стоимости кухни</p>
          <a href="#" class="mnbtn o-white">Расчитать кухню</a>
        </div>
        <div class="col-lg-6 section4__right">
          <img src="/catalog/view/theme/yavid/img/notebook.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="section5 section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section5__block-title">
            <h2>Кухни Yavid</h2>
            <div class="second-line"></div>
            <article>
              <p>Изысканность и утончённость классических и современных кухонь Yavid создадут неповторимый уют в вашем доме.<br>
                А элементы кухни из массива дуба наполняют мебель теплом души и приносят в дом частичку природы.</p>
            </article>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="section5__item">
            <div class="section5__top">
              <img src="/catalog/view/theme/yavid/img/section5_item1.jpg" alt="">
            </div>
            <div class="section5__bottom">
              <span>Кухня БЕАТРИС</span><a href="#" class="mnbtn o-black">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="section5__item">
            <div class="section5__top">
              <img src="/catalog/view/theme/yavid/img/section5_item2.jpg" alt="">
            </div>
            <div class="section5__bottom">
              <span>Кухня ФЛОРЕНЦИЯ</span><a href="#" class="mnbtn o-black">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="section5__item">
            <div class="section5__top">
              <img src="/catalog/view/theme/yavid/img/section5_item3.jpg" alt="">
            </div>
            <div class="section5__bottom">
              <span>Кухня ВЕРОНА</span><a href="#" class="mnbtn o-black">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="section5__item">
            <div class="section5__top">
              <img src="/catalog/view/theme/yavid/img/section5_item4.jpg" alt="">
            </div>
            <div class="section5__bottom">
              <span>Кухня НИКОЛЬ</span><a href="#" class="mnbtn o-black">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="section5__item">
            <div class="section5__top">
              <img src="/catalog/view/theme/yavid/img/section5_item5.jpg" alt="">
            </div>
            <div class="section5__bottom">
              <span>Кухня АМЕЛИЯ</span><a href="#" class="mnbtn o-black">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="section5__item">
            <div class="section5__top">
              <img src="/catalog/view/theme/yavid/img/section5_item6.jpg" alt="">
            </div>
            <div class="section5__bottom">
              <span>Кухня ДОМИНИКА</span><a href="#" class="mnbtn o-black">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section6">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img class="section6__book" src="/catalog/view/theme/yavid/img/section6_book.png" alt="">
        </div>
        <div class="col-lg-6">
          <h2>Скачайте каталог</h2>
          <div class="second-line"></div>
          <p class="section6__subtitle">Скачайте полный каталог продукции сейчас и получите персональное предложение</p>
          <form>
            <div class="section6__form-inputs">
              <div class="section6__form-input">
                <label for="name">Как к вам обращаться?*</label>
                <input id="name" type="text">
              </div>
              <div class="section6__form-input">
                <label for="phone">Номер вашего телефона?*</label>
                <input id="phone" type="text">
              </div>
            </div>
            <button class="mnbtn o-black section6__submit" type="submit">Скачать бесплатно</button>
            <br>
            <label class="checkbox-box">
              Я ознакомлен с <a href="#">Политикой конфиденциальности</a> и <a href="#">Пользовательским соглашением</a>
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="section section7">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 section7__left">
          <h2>Закажите встречу с дизайнером</h2>
          <div class="second-line"></div>
          <div class="section7__form-inputs">
            <div class="section7__form-input">
              <label for="name">Как к вам обращаться?*</label>
              <input id="name" type="text">
            </div>
            <div class="section7__form-input section7__form-input-last">
              <label for="name">Как к вам обращаться?*</label>
              <input id="name" type="text">
            </div>
          </div>
          <br>
          <button class="mnbtn o-white">Заказать встречу</button>
          <label class="checkbox-box">
            Я ознакомлен с <a href="#">Политикой конфиденциальности</a> и <a href="#">Пользовательским соглашением</a>
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-lg-5 section7__right">
          <img src="/catalog/view/theme/yavid/img/section7__baba.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="section section8">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Мебель для кухни</h2>
          <div class="second-line"></div>
          <article>
            <p>Элитные гарнитуры, которые мы предлагаем Вашему вниманию, смотрятся необычно и изысканно. Поскольку они выполнены из настоящей древесины дуба, все элементы конструкций имеют красивый оттенок и интересную текстуру. Кроме того, это придает мебели определенную «монументальность», которая покоряет поклонников настоящей роскоши. И если Вы хотите купить кухню от производителя, которая смотрелась бы максимально эстетично, отдайте предпочтение одному из комплектов компании "ЯВИД". Другой такой красивой мебели в Воронеже не найти.</p>
          </article>
          <h2>Эксклюзивные кухни</h2>
          <article>
            <p>Элитная кухонная мебель в Воронеже - это продукция компании «ЯВИД», производящей качественные гарнитуры из массива дуба. Если вы хотите стать обладателем действительно шикарной мебели, не выходящей из моды долгие годы, то заказать такую по индивидуальным размерам можно на нашем сайте.</p>
          </article>
          <h2>Кухни от производителя</h2>
          <article>
            <p>Они открывают существенные возможности для экономии: отсутствие наценок посредников позволяет поддерживать разумные цены, рассчитываемые за готовое изделие в зависимости от площади кухонного гарнитура. Вы можете оставить заявку на сайте нашего интернет-магазина, и сотрудники в кратчайшие сроки свяжутся с вами, рассчитав примерную смету расходов, исходя из представленных размеров.</p>
          </article>
          <h2>Стильные кухни</h2>
          <article>
            <p>В каталоге представлен широкий ассортимент продукции, что позволяет купить кухню в Воронеже на любой вкус. В ассортименте присутствуют не только классические, но и современные модели. Нет ограничений и по цветовой гамме: вы можете купить деревянную кухню как темную, так и светлую. Оттенки дуба разнообразны и открывают поле для полета фантазии. Увидеть фото готовых образцов и имеющиеся цветовые решения можно в каталоге.</p>
            <p>Мебель для кухни. Какой она будет - решать только вам! Стильные шкафы из натуральной древесины создаются по вашим размерам, проект разрабатывается дизайнером, учитывающим все ваши пожелания и предпочтения. Это дает возможность купить не только красивые кухни в Воронеже, которые предлагает компания «ЯВИД», но и функциональные. Каждое наше изделие продумано до мелочей. Мы гарантируем:</p>
            <ul>
              <li>индивидуальный подход, позволяющий получить эксклюзивный результат;</li>
              <li> разнообразие выбора;</li>
              <li>достойное качество каждого шкафа не только снаружи, но и изнутри.</li>
            </ul>
            <p>Мы используем только импортную фурнитуру, благодаря которой можно не только организовать хранение необходимых мелочей наиболее эргономично, но и не сомневаться в том, что каждый ящик или дверца будут открываться бесшумно и прослужат не один десяток лет. Европейские технологии в совокупности с многолетним опытом работ и качественными материалами - все это гарант качества продукции нашей компании.</p>
          </article>
          <h2>Красивые кухни</h2>
          <article>
            <p>Для того чтобы заказать и купить понравившийся мебельный кухонный гарнитур в Воронеже, нужно лишь обратиться к нам. Даже если вы имеете отдаленное представление о том, что хотелось бы увидеть в результате, но мечтаете, чтобы вся мебель в доме была эксклюзивной, наши дизайнеры помогут определиться с выбором. Благородная красота натурального дуба продемонстрирует ваш хороший вкус и станет предметом восторженных взглядов гостей: качественный кухонный гарнитур будет выглядеть дорого и стильно.</p>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>
{{ footer }}